POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/db
INVENTORY_DATABASE_URL=postgresql+psycopg2://user:password@postgres:5432/db
NOTIFICATIONS_DATABASE_URL=postgresql+psycopg2://user:password@postgres-notifications:5432/notifications_db
AUTH_DATABASE_URL=postgresql+psycopg2://user:password@postgres-auth:5432/auth_db
REDIS_URL=redis://redis:6379/0
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
AUTH_SERVICE_URL=http://auth-service:8002
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=antiacores0@gmail.com
SMTP_PASSWORD=pass pass pass pass
SMTP_FROM=antiacores0@gmail.com
JWT_SECRET=jwtsecretkey1234567890
JWT_EXPIRE_MINUTES=30
JWT_REFRESH_EXPIRE_DAYS=7